@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid-participants {
  display: grid;
  background: #202124;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(180px, auto));
  gap: 1rem;
  padding: 1rem;
}

.room-details-aside {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 80px;
  background: #fff;
  width: 360px;
  border-radius: 1rem;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown {
  max-height: 861px;
  position: absolute;
  bottom: 50px;
  left: 20px;
  min-width: 16.26rem;
  background: #fff;
  border-radius: 10px;
}
.dropdown li {
  color: #202124;
  display: flex;
  padding: 1rem 20px;
}
.dropdown li:hover {
  background: #f4f4f5;
  cursor: pointer;
  border-radius: 10px;
}
